@{
}
@using SpaDay.ViewModels;
@model AddUserViewModel;

<h1>Sign Up Form</h1>

@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}

<form method="post" action="/user/add">
    Username:
    <br>
    @if (ViewBag.error == null)
    {
        <input type="text" name="username" />
        <span asp-validation-for="Username"></span>
    }
    else
    {
        <input type="text" name="username" value="@ViewBag.userName" />
        <span asp-validation-for="Username"></span>
    }
    <br>
    Email:
    <br>
    @if (ViewBag.error == null)
    {
        <input type="email" name="email" />
    }
    else
    {
        <input type="email" name="email" value="@ViewBag.eMail" />
    }
    <br>
    Password:
    <input type="password" name="password" />
    <span asp-validation-for="Password"></span>
    <br>
    Confirm Password:
    <br>
    <input type="password" name="VerifyPassword" />
    <span asp-validation-for="VerifyPassword"></span>
    <br>
    <input type='submit' value='Submit'>
</form>
