@{
}
@using SpaDay.ViewModels;
@model AddUserViewModel;
<h1>Sign Up Form</h1>

@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}

<form method="post" action="/user">
    Username:
    <br>
    @if (ViewBag.error == null)
    {
        <input type="text" name="Username" />
    }
    else
    {   
        <span asp-validation-for="Username"></span>
        <input type="text" name="Username" value="@ViewBag.userName" />
        
    }
    <br>
    Email:
    <br>
    @if (ViewBag.error == null)
    {
        <input type="email" name="Email" />
    }
    else
    {
        
        <input type="email" name="Email" value="@ViewBag.eMail" />
    }
    <br>
    Password:
    <span asp-validation-for="Password"></span>
    <input type="password" name="Password" />
    <br>
    Confirm Password:
    <br>
    <span asp-validation-for="VerifyPassword"></span>
    <input type="password" name="VerifyPassword" />
    <br>
    <input type='submit' value='Submit'>
</form>
